parameters:
  excludes_analyse:
    - */tests/*/data/*
    - */Full4Test.php
    - */Standard4Test.php
    - */Lite4Test.php
  ignoreErrors:
    - '~Parameter #2 \$sort_order of function array_multisort is passed by reference, so it expects variables only.~'
    - '~Parameter #3 \$sort_flags of function array_multisort is passed by reference, so it expects variables only.~'
    - '~MockObject~'
