parameters:
  includes:
      - vendor/phpstan/phpstan-strict-rules/rules.neon
      - vendor/phpstan/phpstan-phpunit/extension.neon
      - vendor/phpstan/phpstan-phpunit/rules.neon
      - vendor/pepakriz/phpstan-exception-rules/extension.neon
      - vendor/phpstan/phpstan-deprecation-rules/rules.neon
      - vendor/phpstan/phpstan-beberlei-assert/extension.neon
  parameters:
    exceptionRules:
      reportUnusedCatchesOfUncheckedExceptions: false
      uncheckedExceptions: []
  excludes_analyse:
    - */tests/*/data/*
    - */V3/*Test.php
  ignoreErrors:
#    - '~is not subtype of Throwable~'
    - '~expects string, Exception given~'
    - '~expects string, Twig_Error_Loader|Twig_Error_Runtime|Twig_Error_Syntax given~'
    - '~expects string, BrowserDetector\\Loader\\NotFoundException given~'
    - '~Result of && is always false~'
    - '~MockObject~'
    - '~Else branch is unreachable because previous condition is always true~'
