<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticProperties="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnEmptyTestSuite="true"
    failOnIncomplete="true"
    failOnRisky="true"
    failOnSkipped="false"
    failOnWarning="true"
    bootstrap="vendor/autoload.php"
    enforceTimeLimit="false"
    executionOrder="default"
    resolveDependencies="true"
    colors="true"
    cacheDirectory="./.coverage-cache"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="assert.exception" value="On"/>
        <ini name="intl.default_locale" value="de"/>
        <ini name="intl.use_exceptions" value="1"/>

        <env name="COLUMNS" value="100" force="true"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Browscap Test Suite">
            <directory>./tests/BrowscapTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
