name: Lock closed issue

on:
  issues:
    types: [closed]

jobs:
  lock:
    runs-on: ubuntu-latest
    steps:
      - uses: Dunning-Kruger/lock-issues@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
